<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('layouts/publicFiles') %>
</head>
<body>
  <%- include('layouts/sidebar') %> 
  <section class="home-section">
        <section class="dash-main section">
          <div class="main-content overflow-y--scroll">
            <div class="content-grid">
              <div class="container full-width bg1">
                <div class="container-grid">
                  <div class="container-content">
                    <h1 class="hd-1 main-title">Welcome back, Liviu!</h1>
                    <p class="sub-heading col-2-3">You can start by creating the best messages for your hotel, restaurant or anything like this. Keep up with latest trends</p>
                    <a href="" class="button btn-icon btn-create btn-main">
                      <span class="material-symbols-outlined icon">add</span>
                      <span class="btn-text">Create</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="container-grid">
                  <div class="flex-content">
                    <div class="fc-item small-card">
                      <div class="card-heading">
                        <h4>Forms</h4>
                      </div>
                      <div class="card-content">
                        <span class="number"><%= user.forms.length %></span>
                      </div>
                      <a href="/<%= user.username %>/dashboard/forms">See all forms</a>
                    </div>
                    <div class="fc-item small-card">
                      <div class="card-heading"><h4>Pricing</h4></div>
                      <a href="/<%= user.username %>/settings/plans">See plans</a>
                    </div>
                    <div class="fc-item small-card">
                      <div class="card-heading"><h4>Free trial</h4></div>
                      <p id="q1"><%= freeTrialEndDate %></p>
                    </div>
                  </div>
                  <br>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </section>
  </section>
</body>
</html>