<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All forms</title>
    <%- include('../../layouts/publicFiles') %>
</head>
<body>
    <%- include('../../layouts/sidebar') %>
    <section class="home-section">
        <section class="dash-main section">
          <div class="main-content overflow-y--scroll">
            <% if(forms.length === 0) { %>
              <%- include('../../layouts/dashboard/noForm') %>       
            <% } else { %>
            <div class="content-grid">
              <div class="container full-width">
                <div class="container-grid">
                  <div class="container-content">
                    <div class="page-heading">
                      <h2>All your forms</h2>
                      <a href="<%= createLink %> " class="button btn-icon btn-create btn-main">
                        <span class="material-symbols-outlined icon">add</span>
                        <span class="btn-text">Create</span>
                      </a>
                    </div>
                    <div class="table gap">
                        <div class="row table-heading">
                          <div class="row-column fifth-width">
                            <span>Form title</span>
                          </div>
                          <div class="row-column fifth-width">
                            <span>Created at</span>
                          </div>
                          <div class="row-column fifth-width">
                            <span></span>
                          </div>
                        </div>
                        <% forms.forEach(form => { %>
                          <div class="row row-caption">
                            <div class="row-column fifth-width">
                              <span><%= form.title %></span>
                            </div>
                            <div class="row-column fifth-width">
                              <span><%= form.createdAt.toLocaleDateString() %></span>
                            </div>
                            <div class="row-column">
                              <a href="/<%= user.username %>/dashboard/forms/view/<%= form.title %>" class="button btn-icon btn-small">
                                <span class="material-symbols-outlined">
                                  arrow_right
                                </span>
                                <span class="btn-text">View form</span>
                              </a>
                            </div>
                          </div>
                        <% }); %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </section>
    </section>
</body>
</html>
