<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form: <%= form.title %> </title>
  <%- include('../../layouts/publicFiles') %>
</head>
<body>
    <%- include('../../layouts/sidebar') %>
    <section class="home-section">
        <section class="dash-main section">
          <div class="main-content overflow-y--scroll">
            <div class="content-grid">
              <div class="container full-width">
                <div class="container-grid">
                  <div class="container-content">
                    <h2><%= form.title %></h2>
                    See your messages collected from this form <a href="/<%= user.username %>/dashboard/forms/view/<%= form.title %>/messages">Here</a>
                    <% if(limitMsg != null) { %>
                        <h3><%= limitMsg %> You need to <a href="/<%= user.username %>/settings/plans">Upgrade</a></h3>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    </section>
</body>
</html>